*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;    
}

.section1 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.section1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.section1::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #220C27, transparent);
    z-index: 100;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
       
}

header .logo{
    position: relative;
    background: none;
    
}

header .nav a{
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .nav a:not(:last-child){
    margin-right: 30px;
}

header .nav a:hover{
    background-color:  rgb(169, 158, 170);
    color: #000000;
    
}

.btn-inicio{
    color: rgb(12, 12, 12);
    background-color: rgb(238, 201, 243);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;

}

.btn-inicio:hover{
    background: rgb(33, 1, 39);
    color: #f5f5f5;
    cursor: pointer;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
    z-index: 1;
    
}

.content .info h2{
    color: #FFF;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
     
}

.content .info h2 span{
    color: rgb(79, 50, 90);
    font-weight: 900;
}

.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #FFF;
}

/* Content 2 */

.section2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.section2::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.content2{
    max-width: 650px;
    margin: 200px 100px;
    z-index: 1;
}

.content2 .info2 h2{
    color: #FFF;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content2 .info2 p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #FFF;
}

/* Section 3 */

.section3 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(../img/bg3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.section3::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

/* Section 4 */

.section4 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(../img/bg4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.section4::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 3;
    padding-bottom: 15px;
}

/* Section 5 */
.section5 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(../img/bg5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.section5::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.mybtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 5;
}

.mybtn a{
    color: #FFF;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.mybtn a:hover{
    transform: scale(1.5);
}
  
.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 5;
}

.media-icons a{
    position: relative;
    color: #FFF;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: none;
    
}

#check {
    z-index: 6;
    display: none;
}


/* Responsividade */

@media (max-width: 960px){
    header .nav{
        display: none;
    }

    label{
        display: block;
        color:#FFF;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color:  rgb(148, 148, 148);
    }

    label .fa-xmark{
        display: none;
    }

    #check:checked ~ header .nav {
        z-index: 5;
        position: fixed;
        background:  rgb(34, 11, 37);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .nav a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .fa-bars{
        display: none;
    }

    #check:checked ~ header label .fa-xmark{
        z-index: 5;
        display: block;
        position: fixed;
    } 
    
    label .fa-bars{
        position: absolute;
    }

    header .logo{
        position: absolute;
        bottom: -6px;
    }

    .content {
        z-index: 1;
    }
    
    input {
        width: 300px;
        margin-bottom: 30px;
    }

    .content .info h2{
        font-size: 45px;
        line-height: 50px;
        z-index: 0;
       
    }

    .content .info h2 span{
        font-size: 45px;
        font-weight: 600;
        z-index: 1;
        
    }

    .content .info p{
        font-size: 14px;
        z-index: 1;
    }

    .content2 {
        z-index: 1;
    }

    .content2 .info2 h2{
        font-size: 40px;
        line-height: 50px;
        z-index: 1;
    }

    .content2 .info2 p{
        font-size: 14px;
        z-index: 1;

    }

}

@media (max-width: 560px) {
    .content .info h2{
        font-size: 35px;
        line-height: 40px;        
    }

    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;        
    }

    .content .info p{
        font-size: 14px;
    }

    .content2 .info2 h2{
        font-size: 35px;
        line-height: 40px;        
    }

    .content2 .info2 p{
        font-size: 14px;        
    }
}
